<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Jersey, Jetty, Guice Demo</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <listener>
        <listener-class>com.eguaks.core.MyServletContextListener</listener-class>
    </listener>

    <!--This is needed so shiro will filter from root an so forth-->
    <filter>
        <filter-name>Guice Filter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Guice Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <!-- Use index.swf if present, or splash.jsp, otherwise just look for the normal defaults -->
        <welcome-file>static/index.html</welcome-file>
    </welcome-file-list>


    <!--OWASP-->
    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>Owasp.CsrfGuard.Config</param-name>
        <param-value>WEB-INF/Owasp.CsrfGuard.properties</param-value>
    </context-param>

    <context-param>
        <param-name>Owasp.CsrfGuard.Config.Print</param-name>
        <param-value>true</param-value>
    </context-param>



    <filter>
        <filter-name>CSRFGuard</filter-name>
        <filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CSRFGuard</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CSRFInjectionFilter</filter-name>
        <filter-class>com.eguaks.core.CSRFInjectionFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>CSRFInjectionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <!--AJAX Support-->
    <servlet>
        <servlet-name>JavaScriptServlet</servlet-name>
        <servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
        <init-param>
            <param-name>source-file</param-name>
            <param-value>static/script/csrfguard.js</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-forms</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-attributes</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>domain-strict</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>referer-pattern</param-name>
            <param-value>http://localhost:80.*</param-value>
        </init-param>
        <init-param>
            <param-name>x-requested-with</param-name>
            <param-value>OWASP CSRFGuard Project</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>JavaScriptServlet</servlet-name>
        <url-pattern>/JavaScriptServlet</url-pattern>
    </servlet-mapping>





</web-app>